<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/admin/add_user">Добавить пользователя</a>

    <h2>All users</h2>

    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Username</th>
            <th>Roles</th>
            <th>Update</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.getId()}"></span></td>
            <td><span th:text="${user.name}"></span></td>
            <td><span th:text="${user.email}"></span></td>
            <td><span th:text="${user.phoneNumber}"></span></td>
            <td><span th:text="${user.username}"></span></td>
            <td><span th:text="${user.getRoles()}"></span></td>

            <td>
                <form action="/admin/update" method="get">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <input type="submit" value="Изменить информацию">
                </form>
            </td>

            <td>
                <form action="/admin/remove" method="post">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <input type="submit" value="Удалить">
                </form>
            </td>

        </tr>
        </tbody>
    </table>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти">
</form>


</body>
</html>