<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Введите данные</h3>

    <p th:if="${error}" th:text="${error}" style="color:red;"></p>

    <form action="/admin/add_user" method="post">

        <p>
            <label for="name">Name</label>
            <input name="name" type="text" id="name" required>
        </p>

        <p>
            <label for="email">Email</label>
            <input name="email" type="email" id="email" required>
        </p>

        <p>
            <label for="phone_number">Phone number</label>
            <input name="phone_number" type="text" id="phone_number" required>
        </p>

        <p>
            <label for="username">Username</label>
            <input name="username" type="text" id="username" required>
        </p>

        <p>
            <label for="password">Password</label>
            <input name="password" type="password" id="password" required>
        </p>

        <p>
            <label for="role">Роль:</label>
            <select name="role" id="role">
                <option value="ROLE_USER">User</option>
                <option value="ROLE_ADMIN">Admin</option>
            </select>
        </p>

        <p>
            <input type="submit" value="Отправить">
        </p>
    </form>
</body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти">
</form>

</html>