<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Username</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><p th:text="${user.getId()}"></p></td>
            <td><p th:text="${user.getName()}"></p></td>
            <td><p th:text="${user.getEmail()}"></p></td>
            <td><p th:text="${user.getPhoneNumber()}"></p></td>
            <td><p th:text="${user.getUsername()}"></p></td>
            <td><p th:text="${user.getRoles()}"></p></td>
        </tr>
        </tbody>
    </table>
<form action="/admin/update" method="post">
    <label for="name">Изменить имя</label>
    <input name="name" type="text" id="name">
    <input type="hidden" name="id" th:value="${user.getId()}">
    <input type="submit" value="Обновить">
</form>

<form action="/admin/update" method="post">
    <label for="email">Изменить email</label>
    <input name="email" type="text" id="email">
    <input type="hidden" name="id" th:value="${user.getId()}">
    <input type="submit" value="Обновить">
</form>

<form action="/admin/update" method="post">
    <label for="phone_number">Изменить номер</label>
    <input name="phone_number" type="text" id="phone_number">
    <input type="hidden" name="id" th:value="${user.getId()}">
    <input type="submit" value="Обновить">
</form>

</body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти">
</form>

</html>