<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>User info</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Username</th>
        <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><p th:text="${user.getId()}"></p></td>
        <td><p th:text="${user.getName()}"></p></td>
        <td><p th:text="${user.getEmail()}"></p></td>
        <td><p th:text="${user.getPhoneNumber()}"></p></td>
        <td><p th:text="${user.getUsername()}"></p></td>
        <td><p th:text="${user.getRoles()}"></p></td>
    </tr>
    </tbody>
</table>

<p><a href="/logout">Выйти</a></p>
</body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти">
</form>

</html>